@import "tailwindcss";

:root,
:root.theme-light {
    --background: #d1d1d1;
    --on-background: #1f1f1f;
    --slider-color: #1f1f1f;
    --icon-active: #00bbff;
    --icon-inactive: #495a5c;
    --field-background: #2e3341;
    --field-on-background: #e0e0e0;

    --contrast-ratio-bad: #ff0000;
    --contrast-ratio-warning: #ffff00;
    --contrast-ratio-good: #00ff00;
}

:root.theme-dark {
    --background: #202020;
    --on-background: #ffffff;
    --slider-color: #d3d3d3;
    --icon-active: #00bbff;
    --icon-inactive: #495a5c;
    --field-background: #2e3341;
    --field-on-background: #e0e0e0;

    --contrast-ratio-bad: #ff0000;
    --contrast-ratio-warning: #ffff00;
    --contrast-ratio-good: #00ff00;
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
}

@theme {
    --color-background: var(--background);
    --color-on-background: var(--on-background);
    --color-slider-color: var(--slider-color);
    --color-icon-active: var(--icon-active);
    --color-icon-inactive: var(--icon-inactive);
    --color-field-background: var(--field-background);
    --color-field-on-background: var(--field-on-background);

    --color-contrast-ratio-bad: var(--contrast-ratio-bad);
    --color-contrast-ratio-warning: var(--contrast-ratio-warning);
    --color-contrast-ratio-good: var(--contrast-ratio-good);
}