@import "tailwindcss";

:root,
:root.theme-light {
    --background: #c4c4c4;
    --background-container: #c4c4c4;
    --on-background-container: #1f1f1f;
    --on-background: #1f1f1f;
    --slider-color: #1f1f1f;
    --icon-active: #006eff;
    --icon-inactive: #333b3b;
    --field: #cbced4;
    --on-field: #0f0f0f;

    --contrast-ratio-bad: #a70000;
    --contrast-ratio-warning: #5a3b00;
    --contrast-ratio-good: #004900;

    --select-background: #cbced4;
    --select-on-background: #080808;
    --select-border: #368497;
    --select-border--hover: #368497;
    --select-border--active: #368497;

    --palette-background: #cbced4;
    --palette-on-background: #080808;
    --palette-border: #368497;
    --palette-border-hover: #18c2ec;
    --focus-selection: #005675;

    --link: #004c68;
}

:root.theme-dark {
    --background: #202020;
    --background-container: #303638;
    --on-background-container: #ffffff;
    --on-background: #ffffff;
    --slider-color: #d3d3d3;
    --icon-active: #00bbff;
    --icon-inactive: #495a5c;
    --field: #2e3341;
    --on-field: #e0e0e0;

    --contrast-ratio-bad: #ff0000;
    --contrast-ratio-warning: #ffff00;
    --contrast-ratio-good: #00ff00;

    --select-background: #1b2c33;
    --select-on-background: #ffffff;
    --select-border: #0978a0;
    --select-border--hover: #0da1d6;
    --select-border--active: #0db0eb;

    --palette-background: #1b2c33;
    --palette-on-background: #ffffff;
    --palette-border: #0978a0;
    --palette-border-hover: #0da1d6;
    --focus-selection: #00bbff;

    --link: #00bbff;
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
    scrollbar-width: none;

    &:focus-visible {
        outline: 2px double var(--focus-selection);
        /* outline-offset: 2px; */
    }
}

@theme {
    --color-background: var(--background);
    --color-background-container: var(--background-container);
    --color-on-background-container: var(--on-background-container);
    --color-on-background: var(--on-background);
    --color-slider-color: var(--slider-color);
    --color-icon-active: var(--icon-active);
    --color-icon-inactive: var(--icon-inactive);
    --color-field: var(--field);
    --color-on-field: var(--on-field);

    --color-contrast-ratio-bad: var(--contrast-ratio-bad);
    --color-contrast-ratio-warning: var(--contrast-ratio-warning);
    --color-contrast-ratio-good: var(--contrast-ratio-good);
    --color-palette-background: var(--palette-background);
    --color-palette-on-background: var(--palette-on-background);
    --color-palette-border: var(--palette-border);
    --color-palette-border-hover: var(--palette-border-hover);
    --color-focus-selection: var(--focus-selection);
    --color-link: var(--link);

    --color-select-background: var(--select-background);
    --color-select-on-background: var(--select-on-background);
    --color-select-border: var(--select-border);
    --color-select-border-hover: var(--select-border--hover);
    --color-select-border-active: var(--select-border--active);
}

.ant-select-item-option {
    border: 1px solid transparent;
    transition: border .15s ease !important;
}

.ant-select-item-option-active {
    border: 1px solid var(--color-select-border-hover) !important;
}

.ant-select-suffix {
    color: var(--color-select-on-background) !important;
}
