* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(0, 0, 0, 50%);
  border-radius: 10px;
  padding: 2rem;
  display: grid;
  grid-template:
    "a a" auto
    "b b" auto
    "c c" auto ". d" auto / auto auto;
  row-gap: .5rem;
  box-shadow: .4rem .4rem rgb(0, 0, 0, 50%);
}

#red-slider {
  grid-area: a;
}

#green-slider {
  grid-area: b;
}

#blue-slider {
  grid-area: c;
}

#hex-field {
  margin-top: 1rem;
  grid-area: d;
}

.labeled-container {
  display: flex;
  align-items: center;
}

.labeled-container>span {
  margin-right: 1rem;
}

.labeled-container>input {
  margin-right: 1rem;
}

.field-container {
  display: flex;
  align-items: center;
  height: 2rem;
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
}

.field-container>input {
  color: black;
  border: none;
  width: 4rem;
  height: 100%;
  background-color: unset;

  &:focus {
    outline: none;
  }

}

.field-container>button {
  height: 100%;
  border: none;
  background-color: unset;
}

.field-container>button>img {
  width: 20px;
}


.tooltip {
  width: fit-content;
  height: fit-content;
  min-width: 6rem;
  min-height: 3rem;
  padding: .5rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  justify-self: center;
  font-weight: 500;
  transform: translateY(-3rem);
  bottom: 0;
  transition: transform .3s ease;
}


.tooltip-success {
  background-color: rgb(42, 207, 111);
  color: rgb(2, 2, 2);
}

.tooltip-fail {
  background-color: rgb(212, 25, 25);
  color: rgb(0, 0, 0);
}

.tooltip-hidden {
  transform: translateY(3rem);
  /* display: none; */
}