@import "tailwindcss";

:root,
:root.theme-light {
    --background: #d1d1d1;
    --on-background: #1f1f1f;
    --slider-color: #1f1f1f;
    --icon-active: #00bbff;
    --icon-inactive: #495a5c;
    --field-background: #2e3341;
    --field-on-background: #e0e0e0;

    --contrast-ratio-bad: #ff0000;
    --contrast-ratio-warning: #ffff00;
    --contrast-ratio-good: #00ff00;

    --palette-background: #2e3341;
    --palette-on-background: #1f1f1f;
    --palette-border: #000000;
    --palette-border-hover: #000000;
    --focus-selection: #00bbff;

    --link: #00bbff;
}

:root.theme-dark {
    --background: #202020;
    --on-background: #ffffff;
    --slider-color: #d3d3d3;
    --icon-active: #00bbff;
    --icon-inactive: #495a5c;
    --field-background: #2e3341;
    --field-on-background: #e0e0e0;

    --contrast-ratio-bad: #ff0000;
    --contrast-ratio-warning: #ffff00;
    --contrast-ratio-good: #00ff00;

    --palette-background: #1b2c33;
    --palette-on-background: #ffffff;
    --palette-border: #0978a0;
    --palette-border-hover: #0da1d6;
    --focus-selection: #00bbff;

    --link: #00bbff;
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
    scrollbar-width: none;

    &:focus-visible {
        outline: 2px double var(--focus-selection);
        /* outline-offset: 2px; */
    }
}

@theme {
    --color-background: var(--background);
    --color-on-background: var(--on-background);
    --color-slider-color: var(--slider-color);
    --color-icon-active: var(--icon-active);
    --color-icon-inactive: var(--icon-inactive);
    --color-field-background: var(--field-background);
    --color-field-on-background: var(--field-on-background);

    --color-contrast-ratio-bad: var(--contrast-ratio-bad);
    --color-contrast-ratio-warning: var(--contrast-ratio-warning);
    --color-contrast-ratio-good: var(--contrast-ratio-good);
    --color-palette-background: var(--palette-background);
    --color-palette-on-background: var(--palette-on-background);
    --color-palette-border: var(--palette-border);
    --color-palette-border-hover: var(--palette-border-hover);
    --color-focus-selection: var(--focus-selection);
    --color-link: var(--link);
}

